$main-color-1: #70b1dd;
$main-color-2: #ff981b;
$main-color-3: #fff;
$main-color-4: #313131;

/* ------------ articles-preview ------------ */
$articles-preview-border: #ff8c38;
$articles-preview-title-bg: #ff7b1b;
/* ------------ /articles-preview ------------ */

/* ------------ comments ------------ */
$comments-border: #f3f3f3;
$comments-head: #ff7b1b;
$comments-txt: #b6b6b6;
$comments-txt-border: #d2d2d2;
/* ------------ /comments ------------ */

/* ------------ pagination ------------ */
$pagination-bg: #f16c0b;
/* ------------ /pagination ------------ */

/* ------------ movie-news ------------ */
$movie-news-border: #f3f3f3;
/* ------------ /movie-news ------------ */

/* ------------ site ------------ */
$site-footer: #2f556f;
$site-title-bg: #254860;
$site-title-mark: #70b1dd;
$site-form-label: #b6b6b6;
$site-form-border: #d2d2d2;
$site-input-color: #000;
$site-input-focus: rgba(0,0,0,0.15);
$site-footer-border: #2f556f;
$site-footer-before: #fff;
/* ------------ /site ------------ */

/* ------------ show-list ------------ */
$show-list-bg: #f3f3f3;
/* ------------ /show-list ------------ */

/* ------------ footer-menu ------------ */
$footer-menu-bg: #3d6078;
/* ------------ /footer-menu ------------ */

/* ------------ link ------------ */
$link-color: #639cc3;
/* ------------ /link ------------ */

/* ------------ content ------------ */
$content-img-shadow: rgba(0,0,0,0.7);
$content-border: #000;
/* ------------ /content ------------ */


/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #ff0;
$btn-back-hover: #ffa;
$btn-back-active: #000;
$btn-color: #fff;
$btn-color-active: #ff0;

$btn-2-back: #f00;
$btn-2-back-hover: #f0a;
$btn-2-back-active: #000;
$btn-2-color-active: #f0a;
/*---------- /btn ---------*/

/*---------- site ----------*/
$site-search-color: $main-color-3;
$site-search-border: $main-color-1;
$site-focus-search-border: $main-color-2;
$site-menu-back: $main-color-1;
$site-menu-color: $main-color-3;
$site-menu-hover-color: $main-color-2;
$site-menu-btn-back: $main-color-2;
$site-menu-active-btn-back: $main-color-3;
/*---------- /site ---------*/

/*---------- social ----------*/
$social-color: #254860;
/*---------- /social ---------*/
