$main-color-1: #70b1dd;
$main-color-2: #ff981b;
$main-color-3: #fff;


/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #ff0;
$btn-back-hover: #ffa;
$btn-back-active: #000;
$btn-color: #fff;
$btn-color-active: #ff0;

$btn-2-back: #f00;
$btn-2-back-hover: #f0a;
$btn-2-back-active: #000;
$btn-2-color-active: #f0a;
/*---------- /btn ---------*/

/*---------- site ----------*/
$site-search-color: $main-color-3;
$site-search-border: $main-color-1;
$site-focus-search-border: $main-color-2;
$site-menu-back: $main-color-1;
$site-menu-color: $main-color-3;
$site-menu-hover-color: $main-color-2;
$site-menu-btn-back: $main-color-2;
$site-menu-active-btn-back: $main-color-3;
/*---------- /site ---------*/

/*---------- social ----------*/
$social-color: #254860;
/*---------- /social ---------*/
