.footer-menu {

  &__item {
    margin-bottom: 15px;
    display: block;
    text-align: center;

    a {
      display: inline-block;
      color: $main-color-3;
      font-size: 13px;
      -webkit-transition: color 0.3s ease;
      transition: color 0.3s ease;

      &:hover {
        color: $main-color-2;
      }

    }

  }

}
@media (min-width: $tablet-landscape) {

  .footer-menu {
    position: absolute;
    top: 68px;
    left: 189px;
    padding-left: 9px;

    &__item {
      display: inline-block;
      vertical-align: top;
      margin: 0 0 0 16px;
    }

    &:before {
      position: absolute;
      top: -24px;
      left: 0;
      width: 1px;
      height: 67px;
      background: $footer-menu-bg;
      content: '';
    }

  }

}