.logo {
  position: absolute;
  z-index: 1;
  top: 9px;
  left: 50px;
  width: 70px;

  img {
    width: 100%;
    height: auto;
  }

}

@media (min-width: $tablet-landscape) {

  .logo {
    top: 10px;
    left: 14px;
    width: 196px;
    height: 92px;
  }

}