//fonts
@mixin main-font1() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin justify() {
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}
@mixin absoluteCenterX() {
  position: absolute;
  left: 50%;
  transform: translateX( -50% );
}
@mixin absoluteCenterY() {
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
}

//transform
@mixin transform-translate( $posX, $posY ) {
  -webkit-transform: translate( $posX, $posY );
  transform: translate( $posX, $posY );
}
@mixin transform-rotate( $deg ) {
  -webkit-transform: rotate( $deg + deg );
  transform: rotate( $deg + deg );
}
@mixin transform-scale( $num ) {
  -webkit-transform: scale( $num );
  transform: scale( $num );
}

//transition
@mixin transition( $property, $duration, $delay ) {
  -webkit-transition: $property $duration+s linear $delay+s;
  transition: $property $duration+s linear $delay+s;
}
@mixin transition-opacity-visibility( $duration, $function ) {
  -webkit-transition: opacity $duration+s $function, visibility $duration+s $function;
  transition: opacity $duration+s $function, visibility $duration+s $function;
}
@mixin transition-opacity-transform( $duration, $function ) {
  -webkit-transition: opacity $duration+s $function, transform $duration+s $function;
  transition: opacity $duration+s $function, transform $duration+s $function;
}
@mixin fixedCenterY() {
  position: fixed;
  top: 50%;
  transform: translateY( -50% );
}

//gradient
@mixin mainGradient() {
  background: rgb(255,214,65);
  background: -webkit-linear-gradient(left,  rgba(255,214,65,1) 0%,rgba(255,127,29,1) 100%);
  background: linear-gradient(to right,  rgba(255,214,65,1) 0%,rgba(255,127,29,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd641', endColorstr='#ff7f1d',GradientType=1 );

}
