.show-list {

  &>* {
    position: relative;
  }

  &>*:nth-child(even):before {
    position: absolute;
    top: 0;
    right: -400px;
    bottom: 0;
    left: -400px;
    background: $show-list-bg;
    content:'';
  }

}

@media (min-width: $tablet-portrait) {

  .show-list {

    &>*:nth-child(even):before {
      right: -9999px;
      left: -9999px;
    }

  }

}